.result-container{
    height: 100vh;
    background-color: #161520;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.status-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 6rem;
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 20px;
    }
    .level{
        font-size: 3rem;
        color: orange;
    }
}
.agree-container{
    display: flex;
    align-items: center;
    gap: 10px;
    h3{
        margin:0;
    }
    .agree-btn{
        padding: 8px 32px;
        background-color: rgb(110, 95, 206);
        border-radius: 20px;
        cursor: pointer;
    }
}
.score-container{
    height: 30vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    .result-box-container{
        display: flex;
        width: 40%;
        gap: 20px;
        .result-box{
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            .value-box{
                min-width: max-content;
                height: 8rem;
                border: 2px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                h1{
                    font-size: 50px;
                    margin: 10px;
                }
            }
        }
    }
    .generate-btn{
        position: absolute;
        right: 30px;
        bottom: 30px;
        padding: 10px 40px;
        background-color: green;
        border-radius: 50px;
        cursor: pointer;
    }
}